<% content_for :meta_tags do %>
  <%= set_meta_tags(
    title: 'Read our Blog',
    description: 'Dive into the latest insights and innovations in AI-powered credit repair with CreditBake’s blog. Stay informed on how our advanced solutions can help you improve your credit score, manage your finances, and secure your financial future.',
    canonical: blogs_url
  ) %>
<% end %>

<div class="p-6 bg-gradient-to-r from-blue-500 to-teal-400 rounded-t-lg text-white text-center pt-40">
  <h1 class="text-5xl font-bold mb-4">CreditBake Blog</h1>
</div>

<div class="container pb-20 pt-32">
  <div class="flex justify-center py-8">
    <h1 class="text-3xl font-semibold">Insights and Innovations in AI-Powered Credit Repair</h1>
</div>

<div class="flex justify-center mb-8">
  <div class="flex space-x-4">
    <%= link_to 'All', blogs_path, class: "px-4 py-2 bg-black text-white rounded-full" %>
    <% Category.all.each do |category| %>
      <%= link_to category.name, blogs_path(category_id: category.id), class: "px-4 py-2 bg-gray-200 rounded-full" %>
    <% end %>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
  <% @posts.each do |post| %>
    <div class="bg-white rounded-lg shadow-md overflow-hidden transition-transform transform hover:scale-105 hover:shadow-lg">
      <%= image_tag post.header_image, alt: post.title, class: "w-full h-48 object-cover" %>
      <div class="p-4">
        <h2 class="text-lg font-semibold"><%= link_to post.title, blog_path(post) %></h2>
        <p class="text-gray-500 mt-2"><%= post.created_at.strftime("%B %d, %Y") %></p>
        <p class="text-gray-500 mt-2">Categories: <%= post.categories.map(&:name).join(", ") %></p>
        <div class="flex space-x-4 mt-4">
          <a href="<%= blog_path(post) %>" class="px-6 py-2 text-lg font-medium text-white custom-blue rounded hover:bg-blue-600 transition-colors duration-300">Read</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="flex justify-center mt-8">
  <%= paginate @posts %>
</div>


