<section class="bg-[#F4F7FF] py-20 lg:py-32 dark:bg-dark">
  <div class="p-4">
    <%= render 'shared/flash_message' %>
  </div>
  <div class="container">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4">
        <div
          class="wow fadeInUp relative mx-auto max-w-[525px] overflow-hidden rounded-xl shadow-form bg-white dark:bg-dark-2 py-14 px-8 text-center sm:px-12 md:px-[60px]"
          data-wow-delay=".15s">
          <div class="mb-10 text-center">
            <div class="mb-10 text-center">
              <%= image_tag "creditbake-logo.png", class: "mx-auto inline-block max-w-[160px]" %>
            </div>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "registration-form" }) do |f| %>
            <div class="mb-[22px]">
              <%= f.email_field :email, placeholder: "Email", class: "w-full px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 placeholder:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none" %>
            </div>
            <div class="mb-[22px]">
              <%= f.password_field :password, placeholder: "Password", class: "w-full px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 placeholder:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none" %>
            </div>
            <div class="mb-[22px]">
              <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "w-full px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 placeholder:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none" %>
            </div>
            <div class="mb-9">
              <%= f.submit "Sign Up", class: "w-full px-5 py-3 text-base text-white transition duration-300 ease-in-out border rounded-md cursor-pointer border-primary bg-primary hover:bg-blue-dark", disabled: true %>
            </div>
          <% end %>

          <p class="mb-4 text-base text-body-secondary">
            By creating an account you are agree with our
            <a href="javascript:void(0)" class="text-primary hover:underline">
              Privacy
            </a>
            and
            <a href="javascript:void(0)" class="text-primary hover:underline">
              Policy
            </a>
          </p>

          <p class="text-base text-body-secondary">
            Already have an account?
            <a href="<%= new_session_path(resource_name) %>" class="text-primary hover:underline">
              Sign In
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
