<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
  <div class="mx-auto max-w-270">
    <!-- Breadcrumb Start -->
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <h2 class="text-title-md2 font-bold text-black dark:text-white">
        Settings Page
      </h2>

      <nav>
        <ol class="flex items-center gap-2">
          <li>
            <a class="font-medium" href="<%= authenticated_root_path %>">Dashboard /</a>
          </li>
          <li class="font-medium text-primary">Settings</li>
        </ol>
      </nav>
    </div>
    <!-- Breadcrumb End -->

    <!-- ====== Settings Section Start ====== -->
    <div class="grid grid-cols-1 gap-8">
      <div class="col-span-1">
        <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <div class="p-7">
            <%= form_with(model: @user, local: true) do |form| %>
              <div class="flex justify-center mb-6">
                <div class="flex items-center gap-2">
                  <div class="h-24 w-24 rounded-full custom-blue dark:custom-blue flex justify-center items-center">
                    <p class="text-white text-md"><%= current_user.initials %></p>
                  </div>
                </div>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                  <%= form.label :first_name, "First Name", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :first_name, placeholder: "Enter Your First Name", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :last_name, "Last Name", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :last_name, placeholder: "Enter Your Last Name", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :email, "Your Email", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.email_field :email, placeholder: "Enter Your Email", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :phone_number, "Phone Number", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :phone_number, placeholder: "Enter Your Phone Number", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :street_address, "Street Address", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :street_address, placeholder: "Enter Your Street Address", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :postal_code, "Postal Code", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :postal_code, placeholder: "Enter Your Postal Code", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :state, "State", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.select :state, options_for_select(us_states, current_user.state), { include_blank: 'Select State' }, class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :city, "City", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :city, placeholder: "Enter Your City", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :country, "Country", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :country, placeholder: "Enter Your Country", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :ssn_last4, "Last 4 SSN", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <div class="relative">
                    <%= form.password_field :ssn_last4, id: "ssn_last4", placeholder: "Last 4 SSN", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500 pr-10" %>
                    <button type="button" id="toggle_ssn_visibility" class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500">
                      <svg id="eye_icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path d="M480.18-353.85q60.97 0 103.47-42.68t42.5-103.65q0-60.97-42.68-103.47t-103.65-42.5q-60.97 0-103.47 42.68t-42.5 103.65q0 60.97 42.68 103.47t103.65 42.5ZM480-392q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm.11 152q-129.96 0-236.88-70.73Q136.31-381.46 83.08-500q53.23-118.54 160.04-189.27T479.89-760q129.96 0 236.88 70.73Q823.69-618.54 876.92-500q-53.23 118.54-160.04 189.27T480.11-240ZM480-500Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/>
                      </svg>
                      <svg id="eye_off_icon" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 hidden" viewBox="0 -960 960 960" fill="#000000">
                        <path d="M617.85-454.15 586-486q9-52.38-29.69-90.69Q517.62-615 466-606l-31.85-31.85q10.08-4.15 21.04-6.23 10.96-2.07 24.81-2.07 61.15 0 103.65 42.5 42.5 42.5 42.5 103.65 0 13.85-2.07 25.58-2.08 11.73-6.23 20.27Zm126.46 122.92L714-358q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-31.23-31.23q34.85-13.15 70.92-18.96Q443.77-760 480-760q130.23 0 238.23 71.58 108 71.57 158.69 188.42-21.46 48.23-54.34 90.65-32.89 42.43-78.27 78.12Zm44.61 216.77L633.23-269.69q-26.54 11.77-65.88 20.73Q528-240 480-240q-131 0-238.23-71.58Q134.54-383.15 83.08-500q23.3-53 61.46-99.27 38.15-46.27 81.46-77.65l-111.54-112 28.31-28.31 674.46 674.46-28.31 28.31ZM254.31-648.62q-34.39 24.47-70.31 64.31-35.92 39.85-56 84.31 50 101 143.5 160.5T480-280q34.62 0 69.77-6.73t52.85-13.58L537.38-366q-9.46 5.31-26.38 8.73-16.92 3.42-31 3.42-61.15 0-103.65-42.5-42.5-42.5-42.5-103.65 0-13.31 3.42-29.85 3.42-16.53 8.73-27.53l-91.69-91.24ZM541-531Zm-112.54 56.54Z"/>
                      </svg>
                    </button>
                  </div>
                  <div class="flex items-center mt-1 text-xs text-gray-500">
                    <span class="material-icons text-gray-500 mr-2">info</span>
                    <p>Your SSN is protected with advanced encryption techniques to ensure its safety.</p>
                  </div>
                </div>
              </div>
              <div class="mt-6">
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <div class="text-sm font-medium text-gray-700">ID Document</div>
                    <% if @user.id_document.attached? %>
                      <span class="text-gray-500"><%= @user.id_document.filename.to_s %></span>
                    <% end %>
                  </div>
                  <div>
                    <%= form.file_field :id_document, accept: 'application/pdf,image/*', class: 'block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100' %>
                  </div>
                </div>
              </div>
              <div class="mt-6">
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <div class="text-sm font-medium text-gray-700">Utility Bill</div>
                    <% if @user.utility_bill.attached? %>
                      <span class="text-gray-500"><%= @user.utility_bill.filename.to_s %></span>
                    <% end %>
                  </div>
                  <div>
                    <%= form.file_field :utility_bill, accept: 'application/pdf,image/*', class: 'block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100' %>
                  </div>
                </div>
              </div>
              <div class="flex justify-end gap-4.5 mt-6">
                <button class="flex justify-center rounded bg-primary px-6 py-2 font-medium text-white hover:bg-opacity-90" type="submit">
                  Save
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- ====== Settings Section End ====== -->
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const ssnField = document.getElementById("ssn_last4");
  const toggleButton = document.getElementById("toggle_ssn_visibility");
  const eyeIcon = document.getElementById("eye_icon");
  const eyeOffIcon = document.getElementById("eye_off_icon");

  toggleButton.addEventListener("click", function() {
    if (ssnField.type === "password") {
      ssnField.type = "text";
      eyeIcon.classList.add("hidden");
      eyeOffIcon.classList.remove("hidden");
    } else {
      ssnField.type = "password";
      eyeOffIcon.classList.add("hidden");
      eyeIcon.classList.remove("hidden");
    }
  });
});
</script>