<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
  <div class="mx-auto max-w-270">
    <!-- Breadcrumb Start -->
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <h2 class="text-title-md2 font-bold text-black dark:text-white">
        Settings Page
      </h2>

      <nav>
        <ol class="flex items-center gap-2">
          <li>
            <a class="font-medium" href="<%= authenticated_root_path %>">Dashboard /</a>
          </li>
          <li class="font-medium text-primary">Settings</li>
        </ol>
      </nav>
    </div>
    <!-- Breadcrumb End -->

    <!-- ====== Settings Section Start ====== -->
    <div class="grid grid-cols-1 gap-8">
      <div class="col-span-1">
        <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <div class="p-7">
            <%= form_with(model: @user, local: true) do |form| %>
              <div class="flex justify-center mb-6">
                <div class="flex items-center gap-2">
                  <div class="h-24 w-24 rounded-full bg-gray-100 dark:bg-gray-800 flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M4 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm4 1a1 1 0 100 2 1 1 0 000-2zm0 4a1 1 0 100 2 1 1 0 000-2z" />
                    </svg>
                  </div>
                  <%= form.file_field :avatar, accept: 'image/*', class: 'hidden', id: 'upload-photo' %>
                </div>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                  <%= form.label :first_name, "First Name", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :first_name, placeholder: "Enter Your First Name", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :last_name, "Last Name", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :last_name, placeholder: "Enter Your Last Name", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :email, "Your Email", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.email_field :email, placeholder: "Enter Your Email", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :phone_number, "Phone Number", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :phone_number, placeholder: "Enter Your Phone Number", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :street_address, "Street Address", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :street_address, placeholder: "Enter Your Street Address", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :postal_code, "Postal Code", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :postal_code, placeholder: "Enter Your Postal Code", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :state, "State", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :state, placeholder: "Enter Your State", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :city, "City", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :city, placeholder: "Enter Your City", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :country, "Country", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :country, placeholder: "Enter Your Country", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                </div>
                <div>
                  <%= form.label :ssn_last4, "Last 4 SSN", class: "block text-sm font-medium text-gray-700 mb-1" %>
                  <%= form.text_field :ssn_last4, placeholder: "Last 4 SSN", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
                  <div class="flex items-center mt-1 text-sm text-gray-500">
                    <span class="material-icons text-gray-500 mr-2">info</span>
                    <p>Your SSN is protected with advanced encryption techniques to ensure its safety.</p>
                  </div>
                </div>
              </div>
              <div class="mt-6">
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <div class="text-sm font-medium text-gray-700">ID Document</div>
                    <% if @user.id_document.attached? %>
                      <span class="text-gray-500"><%= @user.id_document.filename.to_s %></span>
                    <% end %>
                  </div>
                  <div>
                    <%= form.file_field :id_document, accept: 'application/pdf,image/*', class: 'block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100' %>
                  </div>
                </div>
              </div>
              <div class="mt-6">
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <div class="text-sm font-medium text-gray-700">Utility Bill</div>
                    <% if @user.utility_bill.attached? %>
                      <span class="text-gray-500"><%= @user.utility_bill.filename.to_s %></span>
                    <% end %>
                  </div>
                  <div>
                    <%= form.file_field :utility_bill, accept: 'application/pdf,image/*', class: 'block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100' %>
                  </div>
                </div>
              </div>
              <div class="flex justify-end gap-4.5 mt-6">
                <button class="flex justify-center rounded bg-primary px-6 py-2 font-medium text-white hover:bg-opacity-90" type="submit">
                  Save
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- ====== Settings Section End ====== -->
  </div>
</div>
