<!-- Hero Section Start -->
<section class="custom-blue pb-20 pt-32" id="home">
  <div class="container mx-auto flex flex-col lg:flex-row items-center">
    <div class="lg:w-1/2 mb-12 lg:mb-0 lg:mr-8 text-center lg:text-left">
      <h1 class="text-4xl lg:text-5xl font-bold text-white mb-4 leading-tight" style="font-family: 'Poppins', sans-serif;">
        The Most Advanced AI-Powered DIY Credit Repair Software
      </h1>
      <p class="text-lg text-white mb-8">
        Experience the future of credit repair with our cutting-edge AI technology. Take control of your credit journey with ease, efficiency, and effectiveness.
      </p>
      <div>
        <a href="<%= new_user_registration_path %>" class="bg-white text-black hover:bg-gray-100 transition-colors duration-300 py-3 px-6 rounded-lg mr-4 font-medium">Get Started</a>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="relative">
        <%= video_tag "explainer.mp4", controls: true, size: "640x480", poster: "explainer_poster.png", class: "rounded-lg shadow-lg", alt: "CreditBake explainer video" %>
      </div>
    </div>
  </div>
</section>

<!-- Hero Section End -->

<section class="py-16 bg-white" id="about">
  <div class="container mx-auto text-center">
    <h2 class="text-5xl font-bold text-black mb-4">Main Features Of CreditBake</h2>
    <p class="text-lg text-gray-500 mb-12">CreditBake offers a suite of advanced features to make your DIY credit repair process efficient and effective.</p>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white", alt: "Credit Repair success testimonial 1" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">Automated Dispute Letters</h3>
        <p class="text-gray-500 mb-4">Generate Metro 2 compliant dispute letters effortlessly with our AI-powered system, ensuring accuracy and compliance.</p>
      </div>
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white", alt: "Credit Repair success testimonial 2" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">Credit Report Upload</h3>
        <p class="text-gray-500 mb-4">Easily upload your credit reports for a detailed analysis and let our software handle the rest to identify inaccuracies.</p>
      </div>
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white", alt: "Credit Repair success testimonial 3" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">Electronic Signatures</h3>
        <p class="text-gray-500 mb-4">Sign your dispute letters electronically to save time and ensure all documents are properly authenticated.</p>
      </div>
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">Profile Management</h3>
        <p class="text-gray-500 mb-4">Create and manage profiles for different clients, making it easy to handle multiple cases efficiently.</p>
      </div>
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">PDF Conversion</h3>
        <p class="text-gray-500 mb-4">Convert your dispute letters and other documents into PDF format for easy sharing and printing.</p>
      </div>
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">Third-Party Mailing Service</h3>
        <p class="text-gray-500 mb-4">Utilize our third-party mailing service to send out your dispute letters quickly and efficiently without any hassle.</p>
      </div>
    </div>
  </div>
</section>


<section class="bg-gray-100 py-12">
  <div class="container mx-auto flex flex-wrap items-center">
    <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
      <h2 class="text-4xl font-bold mb-4">Take Control of Your Financial Journey</h2>
      <p class="text-lg mb-4">With CreditBake, you don't have to hire anyone or worry about scams. Our AI-powered DIY credit repair software empowers you to take control of your financial journey. No more relying on third parties – do it yourself with confidence.</p>
      <p class="text-lg mb-6">CreditBake makes it easy to identify and dispute inaccuracies on your credit report, helping you improve your credit score efficiently and effectively.</p>
      <a href="<%= new_user_registration_path %>" class="inline-block bg-primary text-white font-medium text-lg px-6 py-3 rounded transition duration-300 hover:bg-opacity-90">Get Started</a>
    </div>
    <div class="w-full md:w-1/2 px-4">
      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2 p-2">
          <%= image_tag "computer-guy.png", class: "rounded-lg shadow-md" %>
        </div>
        <div class="w-full sm:w-1/2 p-2">
          <%= image_tag "financial-freedom.png", class: "rounded-lg shadow-md" %>
        </div>
        <div class="w-full sm:w-1/2 p-2 mt-4">
          <div class="bg-primary text-white text-center p-8 rounded-lg">
            <h3 class="text-5xl font-bold">10</h3>
            <p class="text-xl">years of experience</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="custom-blue py-16">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold text-white mb-4">Transform Your Credit, Transform Your Life</h2>
    <h3 class="text-2xl font-semibold text-white mb-6">Get Started Now</h3>
    <p class="text-lg text-white mb-8">Take control of your financial future with CreditBake's AI-powered DIY credit repair. Say goodbye to credit issues and hello to new opportunities.</p>
    <a href="<%= new_user_registration_path %>" class="px-8 py-3 bg-white text-black text-lg font-medium rounded hover:bg-secondary-dark transition duration-300">Start Using CreditBake</a>
  </div>
</section>

<section class="py-16 bg-gray-50" id="pricing">
  <div class="container mx-auto px-6">
    <div class="text-center">
      <h2 class="text-3xl font-semibold custom-blue-text">Pricing Table</h2>
      <p class="text-gray-600 mt-4">Awesome Pricing Plan</p>
      <p class="text-gray-500 mt-2">
        Discover how you can take control of your credit repair journey at a fraction of the cost of hiring a traditional credit repair company.
      </p>
    </div>

    <div class="mt-12 max-w-lg mx-auto bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="px-6 py-8 text-center">
        <div class="text-white p-4 rounded-full inline-block mb-4">
          <%= image_tag 'feature.svg', class: "h-16 w-16" %>
        </div>
        <h3 class="text-3xl font-normal custom-blue-text">TOP SELLER</h3>
        <p class="text-gray-900 mt-2 text-2xl">
          $24.99
        </p>
        <p class="text-gray-400 text-sm mt-1">Per Attack 👊</p>
      </div>
      <div class="px-6 py-8">
        <ul class="text-gray-600">
          <li class="flex items-center mb-4">
            <%= image_tag 'checkmark.svg', class: "h-5 w-5 text-blue-500 mr-8" %>
            AI-Powered Credit Repair
          </li>
          <li class="flex items-center mb-4">
            <%= image_tag 'checkmark.svg', class: "h-5 w-5 text-blue-500 mr-8" %>
            No Need to Hire Expensive Services
          </li>
          <li class="flex items-center mb-4">
            <%= image_tag 'checkmark.svg', class: "h-5 w-5 text-blue-500 mr-8" %>
            Protect Yourself from Scams
          </li>
          <li class="flex items-center mb-4">
            <%= image_tag 'checkmark.svg', class: "h-5 w-5 text-blue-500 mr-8" %>
            Easy-to-Use Dashboard
          </li>
          <li class="flex items-center mb-4">
            <%= image_tag 'checkmark.svg', class: "h-5 w-5 text-blue-500 mr-8" %>
            24/7 Customer Support
          </li>
          <li class="flex items-center mb-4">
            <%= image_tag 'checkmark.svg', class: "h-5 w-5 text-blue-500 mr-8" %>
            Comprehensive Credit Education
          </li>
        </ul>
      </div>
      <div class="px-6 py-4">
        <%= link_to new_user_registration_path, class: "w-full" do %>
          <button class="w-full bg-blue-500 text-white font-semibold py-3 rounded-md hover:bg-blue-600 transition duration-300">
            Purchase Now
          </button>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-100 py-16" id="testimonials">
  <div class="container mx-auto">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold text-primary mb-4">Testimonials</h2>
      <p class="text-xl text-gray-700">What Our Clients Say</p>
      <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="flex flex-col lg:flex-row lg:space-x-6">
      <div class="bg-white shadow-lg rounded-lg p-6 mb-6 lg:mb-0">
        <div class="flex items-center mb-4">
          <div class="flex-shrink-0">
            <%= image_tag "testimonial1.jpeg", class: "w-12 h-12 rounded-full" %>
          </div>
          <div class="ml-4">
            <div class="text-lg font-medium text-gray-900">Leul A.</div>
          </div>
        </div>
        <p class="text-gray-600">“CreditBake has been a game-changer for me! I was struggling with inaccuracies on my credit report for years. With CreditBake's seamless import and automated dispute process, I saw results within just a few weeks. My credit score improved, and I couldn't be happier with the service!”</p>
        <div class="flex items-center mt-4">
          <div class="flex-shrink-0">
            <span class="text-yellow-500">★★★★★</span>
          </div>
        </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg p-6 mb-6 lg:mb-0">
        <div class="flex items-center mb-4">
          <div class="flex-shrink-0">
            <%= image_tag "testimonial2.jpeg", class: "w-12 h-12 rounded-full" %>
          </div>
          <div class="ml-4">
            <div class="text-lg font-medium text-gray-900">Valentina G.</div>
          </div>
        </div>
        <p class="text-gray-600">“I was skeptical about using an AI-powered credit repair service, but CreditBake exceeded all my expectations. The platform is user-friendly, and the support team is incredibly responsive. Thanks to CreditBake, I've successfully removed several errors from my credit report and am on my way to achieving my financial goals.”</p>
        <div class="flex items-center mt-4">
          <div class="flex-shrink-0">
            <span class="text-yellow-500">★★★★★</span>
          </div>
        </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg p-6 mb-6 lg:mb-0">
        <div class="flex items-center mb-4">
          <div class="flex-shrink-0">
            <%= image_tag "testimonial3.jpeg", class: "w-12 h-12 rounded-full" %>
          </div>
          <div class="ml-4">
            <div class="text-lg font-medium text-gray-900">Derrick G.</div>
          </div>
        </div>
        <p class="text-gray-600">“CreditBake has simplified the credit repair process for me. The integration with CreditDyno made importing my credit report effortless. Within a few months, CreditBake's intelligent dispute letters helped me clear up several discrepancies, significantly boosting my credit score. I highly recommend CreditBake to anyone looking to repair their credit”</p>
        <div class="flex items-center mt-4">
          <div class="flex-shrink-0">
            <span class="text-yellow-500">★★★★★</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-8">
      <%= link_to "Start Using CreditBake", new_user_registration_path, class: "bg-primary text-white px-4 py-2 rounded-full hover:bg-blue-600" %>
    </div>
  </div>
</section>

<section class="bg-gray-50 py-12" id="faq">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-10">
      <h2 class="text-3xl font-extrabold text-blue-600">FAQ</h2>
      <h3 class="text-2xl font-bold text-gray-800 mt-4">Any Questions? Look Here</h3>
      <p class="text-gray-600 mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">What is CreditBake and how does it work?</h4>
        </div>
        <p class="text-gray-600">CreditBake is an AI-powered credit repair solution designed to help users repair their credit scores by generating dispute letters based on Metro 2 compliance and factual disputing. Our software automates the process of creating and managing dispute letters to challenge inaccurate or outdated information on your credit report using advance models, helping you improve your credit score efficiently.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">How can CreditBake help me improve my credit score?</h4>
        </div>
        <p class="text-gray-600">CreditBake helps improve your credit score by identifying errors and discrepancies in your credit report and generating personalized dispute letters to send to credit bureaus. Our AI-driven approach ensures that the letters are compliant with the Metro 2 format, increasing the likelihood of successful dispute outcomes and helping remove negative items that may be affecting your credit score.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">What makes CreditBake different from other credit repair services?</h4>
        </div>
        <p class="text-gray-600">CreditBake stands out because of its AI-powered technology using specific advance models, which automates and streamlines the credit repair process. Unlike traditional credit repair services that can be expensive and time-consuming, CreditBake offers a cost-effective, user-friendly platform that allows you to take control of your credit repair journey. Additionally, our software ensures Metro 2 compliance, which is essential for effective dispute resolution.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">Is CreditBake easy to use for someone with no experience in credit repair?</h4>
        </div>
        <p class="text-gray-600">Absolutely! CreditBake is designed to be user-friendly, even for those with no prior experience in credit repair. The platform guides you through the process of importing your credit report, identifying inaccuracies, and generating dispute letters. Our intuitive interface and step-by-step instructions make it easy for anyone to use the software effectively.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">How secure is my personal information with CreditBake?</h4>
        </div>
        <p class="text-gray-600">CreditBake takes the security of your personal information very seriously. We use advanced encryption and security protocols to protect your data. Your credit information and personal details are stored securely and are only used for the purpose of generating dispute letters and managing your credit repair process. We comply with all relevant data protection regulations to ensure your information remains safe and confidential.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">How does my credit report get imported into CreditBake?</h4>
        </div>
        <p class="text-gray-600">
          We partner with CreditDyno and are working with other providers such as IdentityIQ and Smart Credit to offer seamless credit report imports. Our partners provide services like monthly 3-bureau score refreshes, identity theft protection, credit monitoring, and more. If you don't have access to a credit monitoring service, you can easily sign up <a href="https://creditdyno.com/redirect.asp?GUID=T4XW8D6LX17B" class="text-blue-500 hover:underline" target="_blank">here</a>.
          <br><br>
          Once you have an account, simply enter your credentials into CreditBake, and we will handle the rest. Your credit report will be imported automatically, allowing us to begin the dispute process and help you repair your credit.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-blue-50 py-12">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2 class="text-3xl font-bold text-gray-900">Contact Us</h2>
      <p class="text-xl text-gray-700">Let's Talk About Your Problem</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="relative bg-blue-50 md:bg-transparent">
        <div class="bg-blue-50 absolute top-0 left-0 w-full h-full md:w-2/3"></div>
        <div class="relative p-8">
          <div class="flex items-start mb-6">
            <div class="text-blue-500 w-12 h-12 flex items-center justify-center bg-white shadow-md rounded-full">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V10a2 2 0 012-2h2M12 1v4m-4 0a4 4 0 018 0m-4 0v4" />
              </svg>
            </div>
            <div class="ml-4">
              <h3 class="text-xl font-semibold text-gray-900">Our Location</h3>
              <p class="text-gray-700">Las Vegas, NV</p>
            </div>
          </div>
          <div class="flex items-start">
            <div class="text-blue-500 w-12 h-12 flex items-center justify-center bg-white shadow-md rounded-full">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H8m0 0l4-4m-4 4l4 4m2 0h6m-6-6h6" />
              </svg>
            </div>
            <div class="ml-4">
              <h3 class="text-xl font-semibold text-gray-900">How We Can Help?</h3>
              <p class="text-gray-700">At CreditBake, we specialize in improving your credit score by providing personalized strategies and support. Our expert team works diligently to dispute inaccuracies on your credit report, helping you achieve financial freedom and access to better loan options.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white p-8 shadow-md rounded-lg">
        <h3 class="text-2xl font-bold text-blue-600 mb-6">Send us a Message</h3>
        <%= form_with model: @contact_form, url: contacts_path, method: :post, local: true do |form| %>
          <div class="mb-4">
            <%= form.label :full_name, "Full Name", class: "block text-gray-700 font-semibold mb-2" %>
            <%= form.text_field :full_name, placeholder: "Full Name", class: "w-full p-3 border border-gray-300 rounded-md" %>
          </div>
          <div class="mb-4">
            <%= form.label :email, "Email", class: "block text-gray-700 font-semibold mb-2" %>
            <%= form.email_field :email, placeholder: "Email", class: "w-full p-3 border border-gray-300 rounded-md" %>
          </div>
          <div class="mb-4">
            <%= form.label :phone, "Phone", class: "block text-gray-700 font-semibold mb-2" %>
            <%= form.text_field :phone, placeholder: "Phone", class: "w-full p-3 border border-gray-300 rounded-md" %>
          </div>
          <div class="mb-4">
            <%= form.label :message, "Message", class: "block text-gray-700 font-semibold mb-2" %>
            <%= form.text_area :message, placeholder: "Type your message here", class: "w-full p-3 border border-gray-300 rounded-md h-32" %>
          </div>
          <%= form.submit "Send", class: "w-full bg-blue-600 text-white font-bold py-3 rounded-md hover:bg-blue-700 transition duration-300" %>
        <% end %>
      </div>

    </div>
  </div>
</section>

<script>
document.querySelector('video').setAttribute("controlslist", "nodownload");
</script>