<% content_for :meta_tags do %>
  <%= set_meta_tags(
    title: "DIY Credit Repair | Powered by AI",
    description: "CreditBake offers AI credit repair solutions to help users repair their credit efficiently. Our platform integrates with credit monitoring services to import reports and generate dispute letters based on Metro 2 compliance.",
    canonical: unauthenticated_root_url,
    og: {
      title: "CreditBake - DIY Credit Repair Solution powered by AI",
      description: "CreditBake offers AI-powered credit repair solutions to help users repair their credit efficiently. Our platform integrates with credit monitoring services to import reports and generate dispute letters based on Metro 2 compliance.",
      image: image_url('blue-logo.jpg'),
      url: unauthenticated_root_url
    }
  ) %>
<% end %>

<section class="custom-blue pb-20 pt-32" id="home">
  <div class="container mx-auto flex flex-col lg:flex-row items-center">
    <div class="lg:w-1/2 mb-12 lg:mb-0 lg:mr-8 text-center lg:text-left">
      <h1 class="text-4xl lg:text-5xl font-bold text-white mb-4 leading-tight" style="font-family: 'Poppins', sans-serif;">
        Next Generation AI-Powered DIY Credit Repair System
      </h1>
      <p class="text-lg text-white mb-8">
        Experience the future of credit repair with our cutting-edge AI technology. Take control of your credit journey with ease, efficiency, and effectiveness, making informed decisions based on comprehensive credit risk assessment.
      </p>
      <p class="text-lg text-white mb-8 font-semibold">
        Try it for <span class="font-bold">FREE</span> and see the difference!
      </p>
      <div>
        <a href="<%= new_user_registration_path %>" class="bg-white text-black hover:bg-gray-100 transition-colors duration-300 py-3 px-6 rounded-lg mr-4 font-medium">Get Started</a>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="relative">
        <%= video_tag "explainer.mp4", controls: true, size: "640x480", poster: "explainer_poster.png", class: "rounded-lg shadow-lg", alt: "CreditBake explainer video" %>
      </div>
    </div>
  </div>
</section>


<!-- Hero Section End -->

<section class="py-16 bg-white" id="about">
  <div class="container mx-auto text-center">
    <h2 class="text-5xl font-bold text-black mb-4">Main Features Of CreditBake</h2>
    <p class="text-lg text-gray-500 mb-12">CreditBake offers a suite of advanced features to make your DIY credit repair process efficient and effective.</p>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white", alt: "Credit Repair success testimonial 1" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">Automated Dispute Letters</h3>
        <p class="text-gray-500 mb-4">Generate Metro 2 compliant dispute letters effortlessly with our AI-powered system, ensuring accuracy and compliance throughout the dispute process.</p>
      </div>
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white", alt: "Credit Repair success testimonial 2" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">Credit Report Upload</h3>
        <p class="text-gray-500 mb-4">Easily upload your credit reports for a detailed analysis and let our software handle the rest to identify inaccuracies using historical data and other data points.</p>
      </div>
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white", alt: "Credit Repair success testimonial 3" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">Electronic Signatures</h3>
        <p class="text-gray-500 mb-4">Sign your dispute letters electronically to save time and ensure all documents are properly authenticated.</p>
      </div>
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">Credit Report Disputes</h3>
        <p class="text-gray-500 mb-4">Take control of your credit by addressing and disputing various negative items on your credit report. Our service helps you handle issues such as 
          <span class="font-bold text-blue-500">evictions</span>,
          <span class="font-bold text-blue-500">repossessions</span>,
          <span class="font-bold text-blue-500">bankruptcies</span>, 
          <span class="font-bold text-blue-500">collections</span>, 
          <span class="font-bold text-blue-500">inquiries</span>, and more, ensuring your credit report is accurate and fair, improving your credit score effectively.
        </p>
      </div>
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">PDF Conversion</h3>
        <p class="text-gray-500 mb-4">Convert your dispute letters and other documents into PDF format for easy sharing and printing, facilitating a smooth credit repair process.</p>
      </div>
      <div class="text-center">
        <div class="p-6 rounded-full inline-block mb-4">
          <%= image_tag "feature_icon.png", class: "h-32 w-32 text-white" %>
        </div>
        <h3 class="text-2xl font-semibold mb-2">Third-Party Mailing Service</h3>
        <p class="text-gray-500 mb-4">Utilize our third-party mailing service to send out your dispute letters quickly and efficiently without any hassle.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-100 py-12">
  <div class="container mx-auto flex flex-wrap items-center">
    <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
      <h2 class="text-4xl font-bold mb-4">Take Control of Your Financial Journey</h2>
      <p class="text-lg mb-4">With CreditBake, you don't have to hire anyone or worry about scams. Our AI-powered DIY credit repair software empowers you to take control of your financial journey. No more relying on third parties – do it yourself with confidence.</p>
      <p class="text-lg mb-6">CreditBake makes it easy to identify and dispute inaccuracies on your credit report, helping you improve your credit score efficiently and effectively. Our platform uses artificial intelligence (AI) to streamline the credit repair process and ensure all actions are based on accurate financial data from major credit bureaus.</p>
      <a href="<%= new_user_registration_path %>" class="inline-block bg-primary text-white font-medium text-lg px-6 py-3 rounded transition duration-300 hover:bg-opacity-90">Get Started</a>
    </div>
    <div class="w-full md:w-1/2 px-4">
      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2 p-2">
          <%= image_tag "computer-guy.png", class: "rounded-lg shadow-md" %>
        </div>
        <div class="w-full sm:w-1/2 p-2">
          <%= image_tag "financial-freedom.png", class: "rounded-lg shadow-md" %>
        </div>
        <div class="w-full sm:w-1/2 p-2 mt-4">
          <div class="bg-primary text-white text-center p-8 rounded-lg">
            <h3 class="text-5xl font-bold">1000s</h3>
            <p class="text-xl">of letters generated</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="custom-blue py-16">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold text-white mb-4">Transform Your Credit, Transform Your Life</h2>
    <h3 class="text-2xl font-semibold text-white mb-6">Get Started Now</h3>
    <p class="text-lg text-white mb-8">Millions of people face daily challenges due to poor or low credit scores, limiting their financial freedom and opportunities. With CreditBake's AI-powered DIY credit repair solution, you can take control of your credit health and pave the way to new possibilities. Our advanced technology helps you identify and address inaccuracies on your credit report, empowering you to improve your credit score and open doors to better financial opportunities. Start your journey towards a brighter financial future with CreditBake and say goodbye to credit issues for good.</p>
    <a href="<%= new_user_registration_path %>" class="px-8 py-3 bg-white text-black text-lg font-medium rounded hover:bg-secondary-dark transition duration-300">Start Using CreditBake</a>
  </div>
</section>

<section class="bg-gray-100 py-16" id="testimonials">
  <div class="container mx-auto">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold text-primary mb-4">Testimonials</h2>
      <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="flex flex-col lg:flex-row lg:space-x-6">
      <div class="bg-white shadow-lg rounded-lg p-6 mb-6 lg:mb-0">
        <div class="flex items-center mb-4">
          <div class="flex-shrink-0">
            <%= image_tag "testimonial1.jpeg", class: "w-12 h-12 rounded-full" %>
          </div>
          <div class="ml-4">
            <div class="text-lg font-medium text-gray-900">Leul A.</div>
          </div>
        </div>
        <p class="text-gray-600">“CreditBake has been a game-changer for me! I was struggling with inaccuracies on my credit report for years. With CreditBake's seamless import and automated dispute process, I saw results within just a few weeks. My credit score improved, and I couldn't be happier with the service!”</p>
        <div class="flex items-center mt-4">
          <div class="flex-shrink-0">
            <span class="text-yellow-500">★★★★★</span>
          </div>
        </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg p-6 mb-6 lg:mb-0">
        <div class="flex items-center mb-4">
          <div class="flex-shrink-0">
            <%= image_tag "testimonial2.jpeg", class: "w-12 h-12 rounded-full" %>
          </div>
          <div class="ml-4">
            <div class="text-lg font-medium text-gray-900">Valentina G.</div>
          </div>
        </div>
        <p class="text-gray-600">“I was skeptical about using an AI-powered credit repair service, but CreditBake exceeded all my expectations. The platform is user-friendly, and the support team is incredibly responsive. Thanks to CreditBake, I've successfully removed several errors from my credit report and am on my way to achieving my financial goals.”</p>
        <div class="flex items-center mt-4">
          <div class="flex-shrink-0">
            <span class="text-yellow-500">★★★★★</span>
          </div>
        </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg p-6 mb-6 lg:mb-0">
        <div class="flex items-center mb-4">
          <div class="flex-shrink-0">
            <%= image_tag "testimonial3.jpeg", class: "w-12 h-12 rounded-full" %>
          </div>
          <div class="ml-4">
            <div class="text-lg font-medium text-gray-900">Derrick G.</div>
          </div>
        </div>
        <p class="text-gray-600">“CreditBake has simplified the credit repair process for me. The integration with CreditDyno made importing my credit report effortless. Within a few months, CreditBake's intelligent dispute letters helped me clear up several discrepancies, significantly boosting my credit score. I highly recommend CreditBake to anyone looking to repair their credit.”</p>
        <div class="flex items-center mt-4">
          <div class="flex-shrink-0">
            <span class="text-yellow-500">★★★★★</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-8">
      <%= link_to "Start Using CreditBake", new_user_registration_path, class: "bg-primary text-white px-4 py-2 rounded-full hover:bg-blue-600" %>
    </div>
  </div>
</section>

<script>
document.querySelector('video').setAttribute("controlslist", "nodownload");
</script>
