<% content_for :meta_tags do %>
  <%= set_meta_tags(
    title: 'Help + Support',
    description: 'Read CreditBake’s Terms of Use to understand the rules and regulations for using our services. We outline the responsibilities and obligations of both CreditBake and our users.',
    keywords: 'Terms of Use, CreditBake, Service Agreement, User Responsibilities, Legal Agreement, Do it yourself Credit Repair',
    canonical: support_url
  ) %>
<% end %>

<header class="text-center py-40 custom-blue flex flex-col justify-center">
  <h1 class="text-7xl font-bold text-white">Support and Help</h1>
  <p class="mt-8 text-2xl text-white max-w-2xl mx-auto">We're here to assist you every step of the way. Explore our support resources and get the help you need.</p>
</header>

<section class="bg-blue-50 py-12">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2 class="text-3xl font-bold text-gray-900">Contact Us</h2>
      <p class="text-xl text-gray-700">Let's Talk About Your Problem</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="relative bg-blue-50 md:bg-transparent">
        <div class="bg-blue-50 absolute top-0 left-0 w-full h-full md:w-2/3"></div>
        <div class="relative p-8">
          <div class="flex items-start mb-6">
            <div class="text-blue-500 w-12 h-12 flex items-center justify-center bg-white shadow-md rounded-full">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V10a2 2 0 012-2h2M12 1v4m-4 0a4 4 0 018 0m-4 0v4" />
              </svg>
            </div>
            <div class="ml-4">
              <h3 class="text-xl font-semibold text-gray-900">Our Location</h3>
              <p class="text-gray-700">Las Vegas, NV</p>
            </div>
          </div>
          <div class="flex items-start">
            <div class="text-blue-500 w-12 h-12 flex items-center justify-center bg-white shadow-md rounded-full">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H8m0 0l4-4m-4 4l4 4m2 0h6m-6-6h6" />
              </svg>
            </div>
            <div class="ml-4">
              <h3 class="text-xl font-semibold text-gray-900">How We Can Help?</h3>
              <p class="text-gray-700">At CreditBake, we specialize in improving your credit score by providing personalized strategies and support. Our expert team works diligently to dispute inaccuracies on your credit report, helping you achieve financial freedom and access to better loan options.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white p-8 shadow-md rounded-lg">
        <h3 class="text-2xl font-bold text-blue-600 mb-6">Send us a Message</h3>
        <%= form_with model: @contact_form, url: contacts_path, method: :post, local: true do |form| %>
          <div class="mb-4">
            <%= form.label :full_name, "Full Name", class: "block text-gray-700 font-semibold mb-2" %>
            <%= form.text_field :full_name, placeholder: "Full Name", class: "w-full p-3 border border-gray-300 rounded-md" %>
          </div>
          <div class="mb-4">
            <%= form.label :email, "Email", class: "block text-gray-700 font-semibold mb-2" %>
            <%= form.email_field :email, placeholder: "Email", class: "w-full p-3 border border-gray-300 rounded-md" %>
          </div>
          <div class="mb-4">
            <%= form.label :phone, "Phone", class: "block text-gray-700 font-semibold mb-2" %>
            <%= form.text_field :phone, placeholder: "Phone", class: "w-full p-3 border border-gray-300 rounded-md" %>
          </div>
          <div class="mb-4">
            <%= form.label :message, "Message", class: "block text-gray-700 font-semibold mb-2" %>
            <%= form.text_area :message, placeholder: "Type your message here", class: "w-full p-3 border border-gray-300 rounded-md h-32" %>
          </div>
          <%= form.submit "Send", class: "w-full bg-blue-600 text-white font-bold py-3 rounded-md hover:bg-blue-700 transition duration-300" %>
        <% end %>
      </div>

    </div>
  </div>
</section>

<section class="bg-gray-50 py-12" id="faq">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-10">
      <h2 class="text-3xl font-extrabold text-blue-600">FAQ</h2>
      <h3 class="text-2xl font-bold text-gray-800 mt-4">Any Questions? Look Here</h3>
      <p class="text-gray-600 mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">What is CreditBake and how does it work?</h4>
        </div>
        <p class="text-gray-600">CreditBake is an AI-powered credit repair solution designed to help users repair their credit scores by generating dispute letters based on Metro 2 compliance and factual disputing. Our software automates the process of creating and managing dispute letters to challenge inaccurate or outdated information on your credit report using advance models, helping you improve your credit score efficiently.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">How can CreditBake help me improve my credit score?</h4>
        </div>
        <p class="text-gray-600">CreditBake helps improve your credit score by identifying errors and discrepancies in your credit report and generating personalized dispute letters to send to credit bureaus. Our AI-driven approach ensures that the letters are compliant with the Metro 2 format, increasing the likelihood of successful dispute outcomes and helping remove negative items that may be affecting your credit score.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">What makes CreditBake different from other credit repair services?</h4>
        </div>
        <p class="text-gray-600">CreditBake stands out because of its AI-powered technology using specific advance models, which automates and streamlines the credit repair process. Unlike traditional credit repair services that can be expensive and time-consuming, CreditBake offers a cost-effective, user-friendly platform that allows you to take control of your credit repair journey. Additionally, our software ensures Metro 2 compliance, which is essential for effective dispute resolution.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">Is CreditBake easy to use for someone with no experience in credit repair?</h4>
        </div>
        <p class="text-gray-600">Absolutely! CreditBake is designed to be user-friendly, even for those with no prior experience in credit repair. The platform guides you through the process of importing your credit report, identifying inaccuracies, and generating dispute letters. Our intuitive interface and step-by-step instructions make it easy for anyone to use the software effectively.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">How secure is my personal information with CreditBake?</h4>
        </div>
        <p class="text-gray-600">CreditBake takes the security of your personal information very seriously. We use advanced encryption and security protocols to protect your data. Your credit information and personal details are stored securely and are only used for the purpose of generating dispute letters and managing your credit repair process. We comply with all relevant data protection regulations to ensure your information remains safe and confidential.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
          <div class="bg-blue-500 text-white rounded-full p-3 mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m4-3h4M12 19V6m8 3v4M4 10v4" />
            </svg>
          </div>
          <h4 class="text-xl font-bold text-gray-800">How does my credit report get imported into CreditBake?</h4>
        </div>
        <p class="text-gray-600">
          We partner with <a href="https://www.smartcredit.com/CreditBake" class="text-blue-500 hover:underline" target="_blank">SmartCredit</a> and
          <a href="https://www.identityiq.com/sc-securepreferred.aspx?offercode=431287GJ" class="text-blue-500 hover:underline" target="_blank">IdentityIQ</a>
          to offer seamless credit report imports. Our partners provide services like monthly 3-bureau score refreshes, identity theft protection, credit monitoring, and more. If you don't have access to a credit monitoring service, you can easily sign up for one of our two partners.
          <br><br>
          Once you have an account, simply enter your credentials into CreditBake, and we will handle the rest. Your credit report will be imported automatically, allowing us to begin the dispute process and help you repair your credit.
        </p>

      </div>
    </div>
  </div>
</section>