<div class="mx-auto max-w-screen-3xl p-4 md:p-6 2xl:p-10 custom-background-color">
  <div class="mx-auto max-w-270">
    <div class="mb-12 text-3xl mt-4">
      <h3 class="font-semibold text-black">Import Credit Report</h3>
    </div>
    <div class="border border-gray-300 rounded-lg p-6 shadow-md mb-8">
      <%= form_with url: import_credit_report_path, method: :post, local: true, html: { id: 'credit-report-form' } do |f| %>
        <div class="mb-12 text-xl mt-4">
          <h3 class="font-normal text-black">Credit Monitoring Credentials</h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
          <div>
            <%= f.label :service, "Credit Monitoring Service", class: "block text-sm font-medium text-gray-700 mb-1" %>
            <%= f.select :service, options_for_select([['IdentityIQ', 'identityiq'], ['Credit Dyno', 'creditdyno']]), {}, class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
          </div>
          <div>
            <%= f.label :username, "User Name", class: "block text-sm font-medium text-gray-700 mb-1" %>
            <%= f.text_field :username, placeholder: "Enter Your Name", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
          </div>
          <div>
            <%= f.label :security_question, "Security Question", class: "block text-sm font-medium text-gray-700 mb-1" %>
            <%= f.text_field :security_question, placeholder: "Select Security Question", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500" %>
          </div>
          <div>
            <%= f.label :password, "Password", class: "block text-sm font-medium text-gray-700 mb-1" %>
            <div class="relative">
              <%= f.password_field :password, placeholder: "Enter Your Password", class: "w-full mt-1 p-3 border rounded-lg bg-gray-100 text-gray-500 pr-10" %>
              <span class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 01-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.455 5 12 5c4.545 0 8.268 2.943 9.542 7-.342 1.022-.888 1.974-1.605 2.767M15 12a3 3 0 01-6 0" />
                </svg>
              </span>
            </div>
          </div>
          <div class="text-center md:col-span-2">
            <%= f.submit "Import Credit Report", class: "px-6 py-3 bg-blue-500 text-white font-medium rounded-lg hover:bg-blue-600 transition duration-300" %>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Previous Credit Reports Section -->
      <div class="p-6 mb-8">
        <div class="mb-8 text-xl">
          <h3 class="font-semibold text-black">Credit Reports</h3>
        </div>
        <% @credit_reports.each do |report| %>
          <div class="border rounded-lg p-4 mb-2 bg-white">
            <div class="flex justify-between items-center">
              <div>
                <p class="font-semibold text-black"><%= report.created_at.strftime("%B %d, %Y") %> Credit Report</p>
                <p class="text-gray-500">Added On <%= report.created_at.strftime("%B %d, %Y") %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>


      <!-- Tips Section -->
      <div class="border border-gray-300 rounded-lg p-6 shadow-md mb-8">
        <div class="flex items-center mb-4">
          <%= image_tag "ooui_notice.png", class: "h-5 w-5 mr-2" %>
          <h3 class="font-normal text-black">Tips to Improve Credit Report</h3>
        </div>
        <ul class="list-disc list-inside text-gray-700">
          <li>Reduce Credit Card Balances</li>
          <li>Maintain Older Accounts</li>
          <li>Check Your Credit Report </li>
          <li>Pay Bills on Time</li>
        </ul>
      </div>
    </div>
  </div>
</div>
