<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-bold">Billing</h1>
    <%= link_to 'Create Attack', letters_path, class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700" %>
  </div>
  <div class="iframe-container">
    <div id="payment-form"></div>
    <script>
      (function() {
        const options = {"data":"<%= ENV["MAVERICK_TOKEN"] %>","feeType":"amount","contactInfo":{"name":"Darren Booker","email":"support@creditbake.com","phone":""},"billingInfo":{"country":"United States","street":"","street2":"","city":"","state":"","zip":""}};

        const l = function() {
          new PaymentGateway({
            target: "payment-form",
            options: options
          });
        };

        if(typeof window.PaymentGateway === "undefined") {
          window.webroot = "https://dashboard.maverickpayments.com";
          const e = document.createElement("script"); e.async = true;
          e.src = window.webroot + "/js/gateway/payment.js?v=" + Date.now();
          document.getElementsByTagName("head")[0].appendChild(e);
          e.onload = e.onreadystatechange = function() { l(); }
        } else { l(); }
      }());
    </script>
  </div>

  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-bold">Spending Activity</h1>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="custom-blue md:bg-gray-50 rounded-t-lg shadow-lg">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white md:text-gray-900 sm:pl-6">ID</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white md:text-gray-900 sm:pl-6">Amount</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white md:text-gray-900">Description</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @spendings.each do |spending| %>
                <tr>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= spending.token %></td>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= number_to_currency(spending.amount, unit: "$", precision: 2, format: "%u%n", strip_insignificant_zeros: true) %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= spending.description %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <%= paginate @spendings %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
