<!-- app/views/dashboards/disputing.html.erb -->
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
  <div class="mx-auto max-w-270">
    <!-- Breadcrumb Start -->
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <h2 class="text-title-md2 font-bold text-black dark:text-white">Challenge Overview</h2>
      <nav>
        <ol class="flex items-center gap-2">
          <li>
            <a class="font-medium" href="<%= authenticated_root_path %>">Dashboard /</a>
          </li>
          <li class="font-medium text-primary">Challenges</li>
        </ol>
      </nav>
    </div>
    <!-- Breadcrumb End -->

    <!-- Credit Report Upload Section Start -->
    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark mb-8">
      <div class="border-b border-stroke px-7 py-4 dark:border-strokedark">
        <h3 class="font-medium text-black dark:text-white">Import Credit Report</h3>
      </div>
      <div class="p-7">
        <%= form_with url: import_credit_report_path, method: :post, local: true, html: { id: 'credit-report-form' } do |f| %>
          <div class="mb-4">
            <%= f.label :service, "Credit Monitoring Service", class: "block text-sm font-medium text-black dark:text-white" %>
            <%= f.select :service, options_for_select([['IdentityIQ', 'identityiq'], ['Credit Dyno', 'creditdyno']]), {}, class: "w-full mt-2 p-2 border border-stroke dark:border-strokedark rounded" %>
          </div>
          <div class="mb-4">
            <%= f.label :username, "Username", class: "block text-sm font-medium text-black dark:text-white" %>
            <%= f.text_field :username, class: "w-full mt-2 p-2 border border-stroke dark:border-strokedark rounded" %>
          </div>
          <div class="mb-4">
            <%= f.label :password, "Password", class: "block text-sm font-medium text-black dark:text-white" %>
            <%= f.password_field :password, class: "w-full mt-2 p-2 border border-stroke dark:border-strokedark rounded" %>
          </div>
          <div class="mb-4">
            <%= f.label :security_question, "Security Question", class: "block text-sm font-medium text-black dark:text-white" %>
            <%= f.text_field :security_question, class: "w-full mt-2 p-2 border border-stroke dark:border-strokedark rounded" %>
          </div>
          <div class="flex justify-end mt-4">
            <%= f.submit "Import Credit Report", class: "px-6 py-2 font-medium text-gray bg-primary rounded hover:bg-opacity-90", id: 'import-button' %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Credit Report Upload Section End -->

    <!-- Disputes Form Start -->
    <%= form_with url: save_challenges_path, method: :patch do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark mb-8">
        <div class="border-b border-stroke px-7 py-4 dark:border-strokedark">
          <h3 class="font-medium text-black dark:text-white">Inquiries</h3>
          <div data-controller="tabs">
            <div class="flex space-x-4">
              <button data-tabs-target="all" data-action="tabs#select" class="text-sm font-medium">All</button>
              <button data-tabs-target="experian" data-action="tabs#select" class="text-sm font-medium">Experian</button>
              <button data-tabs-target="equifax" data-action="tabs#select" class="text-sm font-medium">Equifax</button>
              <button data-tabs-target="transunion" data-action="tabs#select" class="text-sm font-medium">Transunion</button>
              <button data-action="tabs#selectAllInquiries" class="text-sm font-medium text-primary">Select All</button>
            </div>
          </div>
        </div>
        <div class="p-7">
          <div class="grid grid-cols-1 sm:grid-cols-4 lg:grid-cols-4 gap-4" data-tabs-target="content">
            <% @inquiries.each do |inquiry| %>
              <div class="border rounded relative <%= 'bg-[#059DE2] text-white' if inquiry.challenge %>">
                <label class="flex items-center w-full">
                  <input type="checkbox" name="inquiry_ids[]" value="<%= inquiry.id %>" class="form-checkbox h-4 w-4 hidden peer" <%= 'checked' if inquiry.challenge %>>
                  <div class="flex-grow content">
                    <p class="font-medium px-4 pt-4 ml-2"><%= inquiry.inquiry_name %></p>
                    <% if inquiry.inquiry_date.present? %>
                      <div class="flex items-center mt-1 ml-2">
                        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1111.44 3.74l4.42 4.42a1 1 0 01-1.42 1.42l-4.42-4.42A6 6 0 012 8z" />
                        </svg>
                        <span class="ml-2 px-4 pb-2"><%= inquiry.inquiry_date.strftime("%b %d, %Y") %></span>
                      </div>
                    <% end %>
                  </div>
                </label>
                <% if inquiry.challenge %>
                  <button type="button" class="absolute top-2 right-2 bg-white rounded-full p-1 text-gray-400 hover:text-gray-600">
                    <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm2.121-9.707a1 1 0 00-1.415-1.414L10 8.586 8.293 6.879a1 1 0 00-1.415 1.414L8.586 10l-1.707 1.707a1 1 0 101.414 1.414L10 11.414l1.707 1.707a1 1 0 001.414-1.414L11.414 10l1.707-1.707z" clip-rule="evenodd" />
                    </svg>
                  </button>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>


      <!-- Inquiries Section End -->

      <!-- Accounts Section Start -->
      <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
        <div class="border-b border-stroke px-7 py-4 dark:border-strokedark">
          <h3 class="font-medium text-black dark:text-white">Accounts</h3>
          <div data-controller="tabs">
            <div class="flex space-x-4">
              <button data-tabs-target="all" data-action="tabs#select" class="text-sm font-medium">All</button>
              <button data-tabs-target="experian" data-action="tabs#select" class="text-sm font-medium">Experian</button>
              <button data-tabs-target="equifax" data-action="tabs#select" class="text-sm font-medium">Equifax</button>
              <button data-tabs-target="transunion" data-action="tabs#select" class="text-sm font-medium">Transunion</button>
              <button data-action="tabs#selectAllAccounts" class="text-sm font-medium text-primary">Select All</button>
            </div>
          </div>
        </div>
        <div class="p-7">
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4" data-tabs-target="content">
            <% @accounts.each do |account| %>
              <label class="block border rounded cursor-pointer account-card <%= 'border-red-500' if account.challenge %>" data-id="<%= account.id %>">
                <input type="checkbox" name="account_ids[]" value="<%= account.id %>" <%= 'checked' if account.challenge %> class="hidden">
                <div>
                  <div class="flex justify-between px-4 pt-6">
                    <p class="font-semibold">Account Number:</p>
                    <p><%= account.account_number %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-semibold">Account Type:</p>
                    <p><%= account.account_type %></p>
                  </div>
                  <p class="mt-4 font-bold px-4">Account Type Details</p>
                  <div class="flex justify-between px-4">
                    <p class="font-semibold">Account Status:</p>
                    <p><%= account.account_status %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-semibold">Balance Owed:</p>
                    <p><%= account.bureau_details.first&.balance_owed %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-semibold">High Credit:</p>
                    <p><%= account.bureau_details.first&.high_credit %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-semibold">Credit Limit:</p>
                    <p><%= account.bureau_details.first&.credit_limit %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-semibold">Past Due Amount:</p>
                    <p><%= account.bureau_details.first&.past_due_amount %></p>
                  </div>
                  <div class="mt-4 custom-blue text-white">
                    <div class="flex justify-between px-4">
                      <p>Payment Status:</p>
                      <p><%= account.bureau_details.first&.payment_status %></p>
                    </div>
                    <div class="flex justify-between px-4">
                      <p>Date Opened:</p>
                      <p><%= account.bureau_details.first&.date_opened %></p>
                    </div>
                    <div class="flex justify-between px-4">
                      <p>Last Payment Date:</p>
                      <p><%= account.bureau_details.first&.date_of_last_payment %></p>
                    </div>
                  </div>
                </div>
              </label>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Accounts Section End -->

      <!-- Next Button -->
      <div class="flex justify-end mt-6">
        <button type="submit" class="px-6 py-2 font-medium text-gray bg-primary rounded hover:bg-opacity-90">Next</button>
      </div>
    <% end %>
    <!-- Disputes Form End -->
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.account-card').forEach(card => {
      card.addEventListener('click', function() {
        const hiddenInput = card.querySelector('input[type="hidden"]');
        if (card.classList.contains('selected')) {
          card.classList.remove('selected');
          card.style.borderColor = '';
          hiddenInput.disabled = true;
        } else {
          card.classList.add('selected');
          card.style.borderColor = 'red';
          hiddenInput.disabled = false;
        }
      });
    });
  });
</script>

