<!-- app/views/dashboards/disputing.html.erb -->
<div class="mx-auto max-w-screen-3xl p-4 md:p-6 2xl:p-10 custom-background-color">
  <div class="mx-auto max-w-270">

    <%= form_with url: save_challenges_path, method: :patch do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div class="mb-12 text-3xl mt-4">
        <h3 class="font-semibold text-black">Challenge Overview</h3>
      </div>
      
      <div class="rounded-lg border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark mb-8">
        <div class="p-7 custom-background-color">
          <div class="mb-12 mt-4">
            <h3 class="font-semibold text-black text-xl">Inquiries</h3>
            <p>Select all the inquiries you would like to attack 👊</p>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-4 lg:grid-cols-4 gap-4" data-tabs-target="content">
            <% @inquiries.each do |inquiry| %>
              <div class="border rounded relative bg-white rounded-lg <%= 'custom-blue white-text' if inquiry.challenge %>">
                <label class="flex items-center w-full">
                  <input type="checkbox" name="inquiry_ids[]" value="<%= inquiry.id %>" class="form-checkbox h-4 w-4 hidden peer" <%= 'checked' if inquiry.challenge %>>
                  <div class="flex-grow content">
                    <p class="font-small px-4 pt-4 ml-2 font-normal text-black"><%= inquiry.inquiry_name %></p>
                    <% if inquiry.inquiry_date.present? %>
                      <div class="flex items-center mt-1 ml-4">
                        <%= image_tag "calendar.svg" %>
                        <span class="ml-2 text-sm text-gray-700"><%= inquiry.inquiry_date.strftime("%b %d, %Y") %></span>
                      </div>
                    <% end %>
                  </div>
                </label>
                <% if inquiry.challenge %>
                  <button type="button" class="absolute top-2 right-2 bg-white rounded-full p-1 text-gray-400 hover:text-gray-600">
                    <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm2.121-9.707a1 1 0 00-1.415-1.414L10 8.586 8.293 6.879a1 1 0 00-1.415 1.414L8.586 10l-1.707 1.707a1 1 0 101.414 1.414L10 11.414l1.707 1.707a1 1 0 001.414-1.414L11.414 10l1.707-1.707z" clip-rule="evenodd" />
                    </svg>
                  </button>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>


      <!-- Inquiries Section End -->

      <!-- Accounts Section Start -->
      <div>
        <div class="p-7 custom-background-color">
          <div class="mb-12 mt-4">
            <h3 class="font-semibold text-black text-xl">Accounts</h3>
            <p>Select all the accounts you would like to attack 👊</p>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4" data-tabs-target="content">
            <% @accounts.each do |account| %>
              <label class="block border rounded cursor-pointer account-card bg-white <%= 'border-red-500' if account.challenge %>" data-id="<%= account.id %>">
                <input type="checkbox" name="account_ids[]" value="<%= account.id %>" <%= 'checked' if account.challenge %> class="hidden">
                <div>
                  <div class="flex justify-between px-4 pt-6">
                    <p class="font-normal text-gray-800">Account Number</p>
                    <p class="font-semibold text-black"><%= account.account_number %>XXXX</p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800">Account Type:</p>
                    <p class="font-semibold text-black"><%= account.account_type %></p>
                  </div>
                  <p class="mt-4 font-semibold px-4 text-black">Account Type Details</p>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800">Account Status</p>
                    <p class="font-semibold text-black"><%= account.account_status %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800">Balance Owed</p>
                    <p class="font-semibold text-black"><%= account.bureau_details.first&.balance_owed %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800">High Credit</p>
                    <p class="font-semibold text-black"><%= account.bureau_details.first&.high_credit %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800">Credit Limit</p>
                    <p class="font-semibold text-black"><%= account.bureau_details.first&.credit_limit %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800">Past Due Amount</p>
                    <p class="font-semibold text-black"><%= account.bureau_details.first&.past_due_amount %></p>
                  </div>
                  <div class="custom-blue text-white py-4 rounded-b-md">
                    <div class="flex justify-between px-4">
                      <p>Payment Status</p>
                      <p><%= account.bureau_details.first&.payment_status %></p>
                    </div>
                    <div class="flex justify-between px-4">
                      <p>Date Opened</p>
                      <p><%= account.bureau_details.first&.date_opened %></p>
                    </div>
                    <div class="flex justify-between px-4">
                      <p>Last Payment Date</p>
                      <p><%= account.bureau_details.first&.date_of_last_payment %></p>
                    </div>
                  </div>
                </div>
              </label>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Accounts Section End -->

      <!-- Next Button -->
      <div class="flex justify-end mt-6">
        <button type="submit" class="px-6 py-2 font-medium text-gray bg-primary rounded hover:bg-opacity-90">Next</button>
      </div>
    <% end %>
    <!-- Disputes Form End -->
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.account-card').forEach(card => {
      card.addEventListener('click', function() {
        const hiddenInput = card.querySelector('input[type="hidden"]');
        if (card.classList.contains('selected')) {
          card.classList.remove('selected');
          card.style.borderColor = '';
          hiddenInput.disabled = true;
        } else {
          card.classList.add('selected');
          card.style.borderColor = 'red';
          hiddenInput.disabled = false;
        }
      });
    });
  });
</script>

