<div class="mx-auto max-w-screen-3xl p-4 md:p-6 2xl:p-10">
  <div class="mx-auto max-w-270">
    <div class="flex items-center justify-between mb-6">
      <h1 class="text-2xl font-bold">Challenege</h1>
    </div>
    <%= form_with url: save_challenges_path, method: :patch do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    
      <div class="rounded-lg border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark mb-8">
        <div class="p-7 custom-background-color">
          <div class="mb-12 mt-4">
            <h3 class="font-semibold text-black text-xl">Inquiries</h3>
            <p>Select all the inquiries you would like to attack 👊</p>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-4 lg:grid-cols-4 gap-4" data-tabs-target="content">
            <% @inquiries.each do |inquiry| %>
              <div class="border rounded relative bg-white rounded-lg <%= 'custom-blue white-text' if inquiry.challenge %> transform transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-lg">
                <label class="flex items-center w-full cursor-pointer">
                  <input type="hidden" name="inquiry_ids[<%= inquiry.id %>]" value="false">
                  <input type="checkbox" name="inquiry_ids[<%= inquiry.id %>]" value="true" class="form-checkbox h-4 w-4 hidden peer" <%= 'checked' if inquiry.challenge %>>
                  <div class="flex-grow content p-4 peer-checked:font-semibold peer-checked:text-white text-gray-800">
                    <p class="font-small ml-2 font-normal peer-checked:font-semibold peer-checked:text-white"><%= inquiry.inquiry_name %></p>
                    <% if inquiry.inquiry_date.present? %>
                      <div class="flex items-center mt-1 ml-2 peer-checked:text-white text-gray-800">
                        <%= image_tag "calendar.svg", class: "peer-checked:invert" %>
                        <span class="ml-2 text-sm peer-checked:text-white text-gray-800"><%= inquiry.inquiry_date.strftime("%b %d, %Y") %></span>
                      </div>
                    <% end %>
                  </div>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Inquiries Section End -->

      <!-- Accounts Section Start -->
      <div class="rounded-lg border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark mb-8">
        <div class="p-7 custom-background-color">
          <div class="mb-12 mt-4">
            <h3 class="font-semibold text-black text-xl">Accounts</h3>
            <p>Select all the accounts you would like to attack 👊</p>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4" data-tabs-target="content">
            <% @accounts.each do |account| %>
              <label for="account_<%= account.id %>" class="block relative transform transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-lg border rounded cursor-pointer bg-white peer-checked:border-custom-blue peer-checked:text-lg peer-checked:bg-custom-blue peer-checked:text-white peer-checked:border-4">
                <input type="hidden" name="account_ids[<%= account.id %>]" value="false">
                <input type="checkbox" id="account_<%= account.id %>" name="account_ids[<%= account.id %>]" value="true" class="form-checkbox hidden peer" <%= 'checked' if account.challenge %>>
                <div class="peer-checked:border-custom-blue peer-checked:text-lg">
                  <div class="flex justify-between px-4 pt-2">
                    <p class="font-semibold text-gray-800 peer-checked:text-white"><%= account.name %></p>
                  </div>
                  <div class="flex justify-between px-4 pt-2">
                    <p class="font-normal text-gray-800 peer-checked:text-white">Account Number:</p>
                    <p class="font-semibold text-black peer-checked:text-white"><%= account.account_number %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800 peer-checked:text-white">Account Type</p>
                    <p class="font-semibold text-black peer-checked:text-white"><%= account.account_type %></p>
                  </div>
                  <p class="mt-4 font-semibold text-black peer-checked:text-white p-4">Account Type Details</p>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800 peer-checked:text-white">Account Status</p>
                    <p class="font-semibold text-black peer-checked:text-white"><%= account.account_status %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800 peer-checked:text-white">Balance Owed</p>
                    <p class="font-semibold text-black peer-checked:text-white"><%= account.bureau_details.first&.balance_owed %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800 peer-checked:text-white">High Credit</p>
                    <p class="font-semibold text-black peer-checked:text-white"><%= account.bureau_details.first&.high_credit %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800 peer-checked:text-white">Credit Limit</p>
                    <p class="font-semibold text-black peer-checked:text-white"><%= account.bureau_details.first&.credit_limit %></p>
                  </div>
                  <div class="flex justify-between px-4">
                    <p class="font-normal text-gray-800 peer-checked:text-white">Past Due Amount</p>
                    <p class="font-semibold text-black peer-checked:text-white"><%= account.bureau_details.first&.past_due_amount %></p>
                  </div>
                  <div class="custom-blue text-white rounded-b-md peer-checked:bg-blue-600">
                    <div class="flex justify-between px-4 pt-2">
                      <p>Payment Status</p>
                      <p class="<%= account.bureau_details.first&.payment_status&.downcase == 'current' ? 'bg-green-100 text-green-700' : 'bg-red-100 text-red-700' %> px-2 py-1 rounded-full">
                        <%= account.bureau_details.first&.payment_status %>
                      </p>
                    </div>
                    <div class="flex justify-between px-4">
                      <p>Date Opened</p>
                      <p><%= account.bureau_details.first&.date_opened %></p>
                    </div>
                    <div class="flex justify-between px-4 pb-2">
                      <p>Last Payment Date</p>
                      <p><%= account.bureau_details.first&.date_of_last_payment %></p>
                    </div>
                  </div>
                </div>
              </label>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Accounts Section End -->

      <!-- Next Button -->
      <div class="flex justify-end mt-6">
        <button type="submit" class="px-6 py-2 font-medium text-white bg-primary rounded hover:bg-opacity-90">Next</button>
      </div>
    <% end %>
    <!-- Disputes Form End -->
  </div>
</div>

<script>
document.addEventListener("turbolinks:load", function() {
  function addEventListeners() {
    document.querySelectorAll('.account-card').forEach(card => {
      card.addEventListener('click', function(event) {
        const checkbox = card.querySelector('input[type="checkbox"]');
        if (event.target !== checkbox) {
          checkbox.checked = !checkbox.checked;
          card.classList.toggle('peer-checked:border-custom-blue', checkbox.checked);
          card.classList.toggle('peer-checked:text-lg', checkbox.checked);
          card.classList.toggle('peer-checked:scale-105', checkbox.checked);
          card.classList.toggle('peer-checked:shadow-lg', checkbox.checked);
        }
      });
    });
  }

  // Call the function to add event listeners
  addEventListeners();
});

</script>
