<div class="bg-gray-50 py-24 sm:py-32">
  <!-- Loading overlay -->
  <div id="loading-overlay" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-75 z-50 hidden">
    <div class="text-white text-xl">Processing your request, please wait...</div>
  </div>

  <!-- Main content -->
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">Pricing</h2>
      <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Pricing plans for teams of&nbsp;all&nbsp;sizes</p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600">Choose an affordable plan that’s packed with the best features for engaging your audience, creating customer loyalty, and driving sales.</p>
    <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <% Subscription.all.order(price: :desc).each do |subscription| %>
        <div class="rounded-3xl bg-white p-8 ring-1 xl:p-10 <%= 'ring-2 ring-indigo-600' if current_user.subscription == subscription %>">
          <div class="flex items-center justify-between gap-x-4">
            <h3 id="tier-<%= subscription.name.downcase %>" class="text-lg font-semibold leading-8 text-gray-900"><%= subscription.name %></h3>
            <% if subscription.name == 'Crush' %>
              <p class="rounded-full bg-indigo-600/10 px-2.5 py-1 text-xs font-semibold leading-5 text-indigo-600">Most popular</p>
            <% end %>
          </div>
          <p class="mt-4 text-sm leading-6 text-gray-600"><%= subscription.description %></p>
          <p class="mt-6 flex items-baseline gap-x-1">
            <span class="text-4xl font-bold tracking-tight text-gray-900"><%= number_to_currency(subscription.price) %></span>
            <span class="text-sm font-semibold leading-6 text-gray-600">/month</span>
          </p>
          <% if current_user.subscription == subscription %>
            <%= link_to 'Current Subscription', '#', class: "mt-6 block rounded-md px-3 py-2 text-center text-sm font-semibold leading-6 text-gray-600 bg-gray-200 cursor-not-allowed", disabled: true %>
          <% elsif current_user.maverick_card_id.present? && current_user.subscription.present? %>
            <%= link_to 'Subscribe', resubscribe_path(subscription_id: subscription.id), method: :post, data: { confirm: 'By subscribing to another plan, we will cancel your current plan and subscribe you to this new plan, which means you will be charged the price of this subscription when you proceed.' }, class: "mt-6 block rounded-md px-3 py-2 text-center text-sm font-semibold leading-6 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", data: { show_loading: true } %>
          <% elsif current_user.maverick_card_id.present? %>
            <%= link_to 'Subscribe', plan_purchased_path(subscription_id: subscription.id), method: :post, data: { confirm: 'Are you sure you want to change your subscription?' }, class: "mt-6 block rounded-md px-3 py-2 text-center text-sm font-semibold leading-6 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", data: { show_loading: true } %>
          <% else %>
            <%= link_to 'Add Card', current_user.maverick_hosted_form_url, class: "mt-6 block rounded-md px-3 py-2 text-center text-sm font-semibold leading-6 text-indigo-600 ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          <% end %>
          <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 xl:mt-10">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <%= subscription.name == 'Starter' ? '5 products' : subscription.name == 'Crush' ? '25 products' : 'Unlimited products' %>
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <%= subscription.name == 'Starter' ? 'Up to 1,000 subscribers' : subscription.name == 'Crush' ? 'Up to 10,000 subscribers' : 'Unlimited subscribers' %>
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <%= subscription.name == 'Starter' ? 'Basic analytics' : 'Advanced analytics' %>
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <%= subscription.name == 'Starter' ? '48-hour support response time' : subscription.name == 'Crush' ? '24-hour support response time' : '1-hour, dedicated support response time' %>
            </li>
            <% if subscription.name != 'Starter' %>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                Marketing automations
              </li>
              <% if subscription.name == 'Shark' %>
                <li class="flex gap-x-3">
                  <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                  </svg>
                  Custom reporting tools
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if current_user.subscription.present? %>
        <div class="mt-6">
          <%= link_to 'Cancel Subscription', cancel_subscription_path, method: :post, data: { confirm: 'Are you sure you want to cancel your subscription?' }, class: 'text-red-600 hover:text-red-800', data: { show_loading: true } %>
          <p class="mt-2 text-sm text-gray-600">By cancelling your subscription, you will not be charged moving forward. All your credits and attacks will remain available to you.</p>
        </div>
      <% end %>
      <div class="mt-6">
        <% if current_user.maverick_card_id.present? %>
          <%= link_to 'Update Credit Card', current_user.maverick_hosted_form_url, class: 'text-blue-600 hover:text-blue-800' %>
        <% else %>
          <%= link_to 'Add Credit Card', current_user.maverick_hosted_form_url, class: 'text-blue-600 hover:text-blue-800' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Find all links that should show the loading overlay
    var links = document.querySelectorAll("a[data-show-loading], form[data-show-loading]");

    links.forEach(function(link) {
      link.addEventListener("click", function() {
        document.getElementById("loading-overlay").classList.remove("hidden");
      });
    });

    var forms = document.querySelectorAll("form[data-show-loading]");

    forms.forEach(function(form) {
      form.addEventListener("submit", function() {
        document.getElementById("loading-overlay").classList.remove("hidden");
      });
    });
  });
</script>
