<nav class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button id="mobile-menu-button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
          <!-- Icon when menu is open. -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 block sm:hidden">
          <%= image_tag "creditbake-logo.png", alt: "CreditBake Logo", class: "h-8 w-auto" %>
        </div>
        <% if @client.present? %>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <%= link_to 'Dashboard', dashboard_client_path(@client), class: "py-2 px-4 rounded-lg #{'bg-white custom-blue-text' if current_page?(dashboard_client_path)} hover:bg-white hover:custom-blue-text transition duration-300" %>
              <%= link_to 'Profile', edit_client_path(@client), class: "py-2 px-4 rounded-lg #{'bg-white custom-blue-text' if current_page?(edit_client_path)} hover:bg-white hover:custom-blue-text transition duration-300" %>
              <%= link_to 'Import Credit Report', credit_report_client_path(@client), class: "py-2 px-4 rounded-lg #{'bg-white custom-blue-text' if current_page?(credit_report_client_path)} hover:bg-white hover:custom-blue-text transition duration-300" %>
              <%= link_to 'Create Attack', letters_client_path(@client), class: "py-2 px-4 rounded-lg #{'bg-white custom-blue-text' if current_page?(letters_client_path)} hover:bg-white hover:custom-blue-text transition duration-300" %>
              <%= link_to 'Challenge', challenge_client_path(@client), class: "py-2 px-4 rounded-lg #{'bg-white custom-blue-text' if current_page?(challenge_client_path)} hover:bg-white hover:custom-blue-text transition duration-300" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="hidden sm:flex items-center">
        <%= link_to 'Upgrade Plan', upgrade_plan_path, class: "upgrade-button py-2 px-4 rounded-lg text-white transition duration-300" %>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div id="mobile-menu" class="sm:hidden hidden">
    <% if @client.present? %>
      <div class="px-2 pt-2 pb-3 space-y-1">
        <%= link_to 'Dashboard', dashboard_client_path(@client), class: "block py-2 px-4 rounded-lg #{'bg-white custom-blue-text' if current_page?(dashboard_client_path)} hover:bg-white hover:custom-blue-text transition duration-300" %>
        <%= link_to 'Profile', edit_client_path(@client), class: "block py-2 px-4 rounded-lg #{'bg-white custom-blue-text' if current_page?(edit_client_path)} hover:bg-white hover:custom-blue-text transition duration-300" %>
        <%= link_to 'Import Credit Report', credit_report_client_path(@client), class: "block py-2 px-4 rounded-lg #{'bg-white custom-blue-text' if current_page?(credit_report_client_path)} hover:bg-white hover:custom-blue-text transition duration-300" %>
        <%= link_to 'Create Attack', letters_client_path(@client), class: "block py-2 px-4 rounded-lg #{'bg-white custom-blue-text' if current_page?(letters_client_path)} hover:bg-white hover:custom-blue-text transition duration-300" %>
        <%= link_to 'Challenge', challenge_client_path(@client), class: "block py-2 px-4 rounded-lg #{'bg-white custom-blue-text' if current_page?(challenge_client_path)} hover:bg-white hover:custom-blue-text transition duration-300" %>
        <%= link_to 'Upgrade Plan', upgrade_plan_path, class: "block upgrade-button py-2 px-4 rounded-lg text-white transition duration-300" %>
      </div>
    <% end %>
  </div>
</nav>

<script>
  document.addEventListener('turbolinks:load', function() {
    Turbolinks.clearCache();
    initializeMobileMenu();
  });

  function initializeMobileMenu() {
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    if (mobileMenuButton && mobileMenu) {
      // Remove previous event listeners to prevent duplicates
      mobileMenuButton.removeEventListener('click', toggleMenu);

      // Add the new event listener
      mobileMenuButton.addEventListener('click', toggleMenu);
    }
  }

  // Define the function to toggle menu visibility
  function toggleMenu() {
    const mobileMenu = document.getElementById('mobile-menu');
    if (mobileMenu) {
      mobileMenu.classList.toggle('hidden');
    }
  }

  document.addEventListener('turbolinks:before-cache', function() {
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    if (mobileMenuButton) {
      mobileMenuButton.removeEventListener('click', toggleMenu);
    }
  });
</script>

