<header class="fixed top-0 left-0 z-50 w-full bg-white shadow-md">
  <div class="container mx-auto flex justify-between items-center p-4">
    <div class="flex items-center space-x-4">
      <%= link_to unauthenticated_root_path do %>
        <%= image_tag "logo.png", class: "w-28 h-6", alt: "CreditBake Logo" %>
      <% end %>
    </div>
    <nav class="hidden md:flex justify-center flex-1 space-x-6">
      <a href="#home" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Home</a>
      <a href="#about" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">About</a>
      <a href="#pricing" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Pricing</a>
      <a href="#testimonials" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Testimonials</a>
      <a href="#faq" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">FAQ</a>
    </nav>
    <div class="hidden md:flex items-center space-x-4">
      <a href="<%= new_user_session_path %>" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Sign In</a>
      <a href="<%= new_user_registration_path %>" class="px-6 py-2 text-lg font-medium text-white custom-blue rounded hover:bg-blue-600 transition-colors duration-300">Sign Up</a>
    </div>
    <div class="md:hidden flex items-center">
      <button id="menu-btn" class="text-gray-700 focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>
  <div id="mobile-menu" class="hidden md:hidden">
    <nav class="px-4 pt-4 pb-4 space-y-1 bg-white shadow-md">
      <a href="#home" class="block text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Home</a>
      <a href="#about" class="block text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">About</a>
      <a href="#pricing" class="block text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Pricing</a>
      <a href="#testimonials" class="block text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Testimonials</a>
      <a href="#faq" class="block text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">FAQ</a>
      <a href="<%= new_user_session_path %>" class="block text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Sign In</a>
      <a href="<%= new_user_registration_path %>" class="block px-6 py-2 text-lg font-medium text-white custom-blue rounded hover:bg-blue-600 transition-colors duration-300">Sign Up</a>
    </nav>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const menuBtn = document.getElementById('menu-btn');
    const mobileMenu = document.getElementById('mobile-menu');

    menuBtn.addEventListener('click', function () {
      mobileMenu.classList.toggle('hidden');
    });

    const sections = document.querySelectorAll('section');
    const navLinks = document.querySelectorAll('nav a');

    navLinks.forEach(link => {
      link.addEventListener('click', function (e) {
        const href = this.getAttribute('href');
        if (href.startsWith('#')) {
          e.preventDefault();
          const targetId = href.substring(1);
          const targetSection = document.getElementById(targetId);

          if (targetSection) {
            window.scrollTo({
              top: targetSection.offsetTop,
              behavior: 'smooth'
            });
          }

          mobileMenu.classList.add('hidden'); // Close mobile menu on link click
        }
      });
    });

    window.addEventListener('scroll', function () {
      let current = '';
      sections.forEach(section => {
        const sectionTop = section.offsetTop;
        const sectionHeight = section.clientHeight;
        if (pageYOffset >= sectionTop - sectionHeight / 3) {
          current = section.getAttribute('id');
        }
      });

      navLinks.forEach(link => {
        link.classList.remove('custom-blue-text');
        if (link.getAttribute('href').includes(current)) {
          link.classList.add('custom-blue-text');
        }
      });
    });
  });
</script>
