<!DOCTYPE html>
<html lang="en">
<head>
  <title>Creditbake</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="//unpkg.com/alpinejs" defer></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white">
  <div class="flex h-screen overflow-hidden">
    <% unless current_page?(edit_profile_path) %>
      <%= render "shared/authenticated_sidebar" %>
    <% end %>

    <div class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden">
      <% unless current_page?(edit_profile_path) %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <main>
        <%= yield %>
      </main>
    </div>
  </div>
</body>
</html>
