<!DOCTYPE html>
<html lang="en">
<head>
  <title>CreditBake</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'custom_layout', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://unpkg.com/alpinejs" defer></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
  <%= favicon_link_tag asset_path('favicon.jpg') %>
</head>
<body class="body-background-color">

  <div class="flex h-screen overflow-hidden">
    <% unless current_page?(edit_profile_path) %>
      <%= render "shared/authenticated_sidebar" %>
    <% end %>

    <div class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden">
      <% if user_browser == :safari && mobile? %>
        <div class="promo-banner">
          <span>Our credit report parser doesn't support Safari right now</span>
          <a href="#" class="promo-redeem">Use Chrome or Firefox</a>
        </div>
      <% end %>
      <% unless current_page?(edit_profile_path) %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <main>
        <%= yield %>
      </main>
    </div>
  </div>
</body>
</html>
