<!DOCTYPE html>
<html lang="en">
<head>
  <title>Creditbake</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="//unpkg.com/alpinejs" defer></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <!-- Add authenticated user navbar and other common elements here -->
  <div
    x-data="{ page: 'profile', 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
    x-init="
          darkMode = JSON.parse(localStorage.getItem('darkMode'));
          $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}"
  >
    <%
=begin%>
 <%= render "shared/authenticated_preloader" %> 
<%
=end%>

    <div class="flex h-screen overflow-hidden">
      <%= render "shared/authenticated_sidebar" %>

      <div
        class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"
      >
        <%= render "shared/authenticated_navbar" %>
        <%= render 'shared/flash_message' %>
        <main>
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
</body>
</html>
